<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PollingTimeoutSeconds" value="900"/>

    <!-- use parameters below to send notification e-mail -->
    <add key="MailFrom" value="dalibor1988@yandex.com"/>
    <add key="MailTo" value="dalibor1988@gmail.com"/>
    <add key="Subject" value="IP changed"/>
    <add key="SmtpHost" value="smtp.yandex.com"/>
    
    <!-- or specify command to be executed -->
    <!--
    <add key="Command" value="echo &quot;IP changed from ${old} to ${new}&quot; &gt; c:\temp\change.txt" />
    -->
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="my@mail.com">
        <network host="smtp.yandex.com" port="587" userName="dalibor1988@yandex.com" password="hjzbtidgqxtesflh" />
      </smtp>
    </mailSettings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
